<h1>New Recipe</h1>

<form action="/recipes" method="post">
	<div>
		Title: <input type="text" name="title">
	</div>
	<div>
		Ingredients: <input type="text" name="ingredients">
	</div>
	<div>
		Directions: <input type="text" name="directions">
	</div>
	<div>
		Prep Time: <input type="number" name="prep_time">
	</div>
	<div>
		Image Url: <input name="image_url">
	</div>
	<div>
		<label for="user-select">Choose a user:</label>
		<select name="user_id" id="user-select">
		    <option value="">--Please choose an option--</option>
		    <% User.all.each do |user| %>
			    <option value="<%= user.id %>"><%= user.name %></option>
		    <% end %>
		</select>
	</div>
	<input type="submit" value="Create Recipe">
</form>